* {
    box-sizing: border-box;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.hd-container, main, .ft-container {
    width: 900px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    height: 105px;
    background-color: #a2a2a2;
    background-image: linear-gradient(#7b7a7a, #8c8888 75%, #adacac 90%);
}

.hd-container {
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(0, 128, 0, 0.404); */
}

.hd-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.search-bar {
    margin-top: 20px;
    display: flex;
}

#search {
    width: 132px;
    border: 0;
    padding: 2px 5px;
    border-radius: 0 9px 0 0;
}

.search-btn {
    width: 19px;
    height: 19px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: url("images/search_button.png") no-repeat;
}

.search-bar input, .search-bar button {
    outline: none;
}

nav>ul {
    list-style: none;
    padding: 0 0 10px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

/* nav li {
    display: inline-block;
} */

nav a, .item {
    text-decoration: none;
    color: white;
}

nav a {
    padding: 5px 15px;
    background-color: #427fef78;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(128, 0, 0, 0.295);
}

main>section {
    background-color: rgba(255, 0, 0, 0.356);
}

.card-large, .card-small {
    width: 293px;
    margin-top: 25px;
    background-color: rgba(74, 236, 236, 0.411);
}

.card-large {
    height: 355px;
    border-radius: 0 0 30px 0;
}

.card-small {
    height: 216px;
    border-radius: 0 30px 0 0;
    margin-bottom: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #a2a2a2;
    background-image: linear-gradient( #adacac 10%, #8c8888 25%, #7b7a7a);
}

.ft-container {
    margin-top: 15px;
}

.item {
    padding: 0 15px;
    border-left: 1px solid;
}

.item:last-child {
    border-left: 0;
}